body {
    background: url('/assets/images/background.jpg');
    background-size: 100% ;
    background-repeat:no-repeat;
    background-color: #a28a74;

    /*background-attachment:scroll;*/
}

span {
    padding-left: 5px;
    padding-right: 5px;
    background: rgba(255,255,255,0.4);
}

p {
    font-size: 18px;
}

.text_area {
    padding-left: 15px;
    text-align: left;
    padding-right: 40%;
    /*background-color: rgba(255,255,255,0.3)*/
}

.site_header {
    font-size: 40px ;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}


.navbar {
    background-color: rgba(255,255,255,0.4);
    font-size: 17px;
}
