@navigation("index") {


    <div class="text_area">
        <h1><span>Kommt vorbei!</span></h1>
        <p class="lead"><span>Wir freuen uns auf euch</span></p>
        <p><span>Ganz viel Text. Und noch mehr Text. Und noch mehr Text. Und noch mehr Text. Und noch mehr Text.
            Und noch mehr Text. Und noch mehr Text. Und noch mehr Text. Und noch mehr Text.
            Und noch mehr Text. Und noch mehr Text. Und noch mehr Text. Und noch mehr Text.
            Und noch mehr Text</span></p>

        <p class="lead"><span>Wir freuen uns auf euch</span></p>
        <p><span>Ganz viel Text. Und noch mehr Text. Und noch mehr Text. Und noch mehr Text. Und noch mehr Text.
            Und noch mehr Text. Und noch mehr Text. Und noch mehr Text. Und noch mehr Text.
            Und noch mehr Text. Und noch mehr Text. Und noch mehr Text. Und noch mehr Text.
            Und noch mehr Text</span></p>

        <p class="lead"><span>Wir freuen uns auf euch</span></p>
        <p><span>Ganz viel Text. Und noch mehr Text. Und noch mehr Text. Und noch mehr Text. Und noch mehr Text.
            Und noch mehr Text. Und noch mehr Text. Und noch mehr Text. Und noch mehr Text.
            Und noch mehr Text. Und noch mehr Text. Und noch mehr Text. Und noch mehr Text.
            Und noch mehr Text</span></p>

        <p class="lead"><span>Wir freuen uns auf euch</span></p>
        <p><span>Ganz viel Text. Und noch mehr Text. Und noch mehr Text. Und noch mehr Text. Und noch mehr Text.
            Und noch mehr Text. Und noch mehr Text. Und noch mehr Text. Und noch mehr Text.
            Und noch mehr Text. Und noch mehr Text. Und noch mehr Text. Und noch mehr Text.
            Und noch mehr Text</span></p>
    </div>


}
